body{
    background: #CB021C;
   
   
}
header{
  display: flex;
  justify-content: space-between;
}
.header{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.slogan{   
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}
.hamburger-inner{
    color: white !important; 
}
.main__carousel{
    display: flex;
    justify-content: space-between;
    
}
.carousel-window{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
}



.carousel-window__items{
    width: 800px;
    overflow: hidden;
    
}

.item{
    width: 800px;
}


.prev-arrow, .next-arrow{
  border: 10px solid#A50015;
  height: 79px;
  width: 79px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 180px;
}
.performance{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #FFFFFF;
    position: absolute;
    top: 300px;
}
.next-arrow{
    transform: rotate(135deg);
}
.button{
    width: 323px;
    height: 74px;
    background-color:  #40020E;
    color: white;
    font-size: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.slider-dots {
    text-align: center;
}
.slider__dots__item{
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}